/*resultados googlemaps*/
div.pac-container.pac-logo {
    z-index: 9999!important;
}

/*devextreme*/
.dx-toolbar .dx-toolbar-items-container {
    height: 45px!important;
}

#mainMenu .dx-treeview-item {
    padding: 0px !important;
    min-height: 45px !important;
    line-height: 22px !important;
}

#mainMenu span {
    color: white !important;
}

header {
    background-color: rgb(27, 27, 27) !important;
}

html{
    height: 100%;
}

body {
    height: 100%;
    /*background-color: #e8e3e3 !important;*/
    background-image: url("/images/background.jpg");
    background-size: cover;
}

#mainMenu {
    background-color: #1b1b1b;
    padding: 5px;
}

#mainMenu .dx-empty-message {
    color: white;
}

#btnCloseDrawer {
    color:white;
}

.menuAppBarToolbar {
    background-color: #1b1b1b;
}

.MuiSvgIcon-root-60 {
    color:white;
}

#mainMenu .dx-treeview-toggle-item-visibility:before {
    color: white;
}

#mainMenu .dx-searchbox .dx-icon-search:before {
    color: white !important;
}

#mainMenu .dx-texteditor-input {
    color: white;
}

.dx-datagrid.dx-gridbase-container.dx-datagrid-borders {
    background-color: #f7f7f7;
}

.dx-datagrid-headers.dx-datagrid-nowrap {
    background-color: rgb(235, 237, 239) !important;
}

.dx-datagrid-text-content.dx-header-filter-indicator {
    color: black;
}

.dx-datagrid-action {
    font-size: 15px !important;
}

.dropDownBuscadores {
    background-color: #f7f7f7 !important;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px!important;
}

.dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
    background-color: transparent !important;
}

tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover {
    background-color:lightgrey!important;
}

.dx-selectbox-popup-wrapper .dx-overlay-content.dx-popup-normal {
    min-width: 350px;
}