/*item del menu seleccionado*/
#conmutadorMenu .dx-treeview-node.dx-treeview-item-without-checkbox.dx-treeview-node-is-leaf.dx-state-focused {
    background-color: #a9d0ff;
}

.conmutadorMenuContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 70px);
}

#conmutadorMenu {
    width: 250px;
    overflow-y: auto;
    background-color: #f7f7f7c9;
}

.conmutadorContainer {
    width: calc(100vw - 370px);
}

#conmutadorMenu li.dx-treeview-node {
    font-weight: bold;
}

#conmutadorMenu li.dx-treeview-node.dx-treeview-node-is-leaf {
    font-weight: normal;
}

.columnaFija {
    height: 85px;
}